.git
.github
.angular
.pnpm-store
.pnpm-store*
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
apps/api/src/generated/prisma
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
backups
exports
*.log
*.zip
